<%- include('partials/header',header)%>
    <!-- Main Content-->
    <div class="container">
        <div class="row">
            <a href="/add-blog" id="add-blog" type="button" class="btn btn-secondary ml-auto" ata-toggle="modal"
                data-target="#exampleModalCenter">Add new blog</a>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <% blogList.forEach((blog)=> { %>
                    <div class="post-preview">
                        <a href="/blog/<%= blog._id %>">
                            <h2 class="post-title">
                                <%= blog.title %>
                            </h2>
                        </a>
                        <p class="post-meta">
                            Posted by <%= blog.user %>
                        </p>
                    </div>
                    <hr />
                    <% }) %>
            </div>
        </div>


    </div>

    <hr />
    <%- include('partials/footer.ejs') %>